{% extends 'master.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Recupera tu contraseña</h4>
        <form method="post">
            {% csrf_token %}
            <div class="field-email">
                {{ form.email.errors }}
                <label for="id_email">Email: </label>
                {{ form.email }}
            </div>
            <input type="submit" value="Enviar email">
        </form>
    </div>
</div>
{% endblock %}