{% extends 'master.html' %}
{% load tz %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>{{ page_title }}</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col">Cargo</div>
        <div class="col">Empresa</div>
        <div class="col">Descripción</div>
        <div class="col">Fecha y hora de cierre</div>
        <div class="col">Acciones</div>
    </div>
    <hr>
    {% for convocatoria in convocatorias %}
    <div class="row">
        <div class="col">
            <a>{{ convocatoria.position }}</a>
        </div>
        <div class="col">
            <a>{{ convocatoria.company.first_name }}</a>
        </div>
        <div class="col">
            <a>{{ convocatoria.description }}</a>
        </div>
        <div class="col">
            {% if convocatoria.state == "CERRADA" or convocatoria.state == "TERMINADA" %}
            <a style="color: red; font-weight: bold;">Terminada!</a>
            {% else %}
            <a>{{ convocatoria.closing_time }}</a>
            {% endif %}
        </div>
        <div class="col">
            <a href="{% url 'convocatorias.aplicar' convocatoria.id %}">Aplicar</a>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}